<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订单请求</title>
	<link rel="stylesheet" type="text/css" href="/s/css/bootstrap.min.css">
	<link rel="stylesheet" href="/s/css/style.css"> 
	<link rel="stylesheet" type="text/css" href="/s/css/demo.css" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
	<script src="/s/js/jquery.min.js"></script>
	<style>
		.button{
			color:#fff;
			background:#007eff;border: solid 1px #007eff;
		}
		.button:hover{
			background:#f00;
			color:#fff;
		}
		body{ background-color: #E8E8E8; }
		input{outline: none; }
	</style>
</head>
<body>
	<div style="width:350px;margin:30px auto;">
        <form action="/makeorder" onSubmit="return beforeSubmit(this);" method="post" class='form'>
        	<div style="font-size: 30px;font-weight: bold;text-align: center; margin-bottom: 32px;">orders</div>
			<select class="form-control" name="symbol">
				<option>EURUSD</option>
				<option>GBPUSD</option>
				<option>AUDUSD</option>
				<option>USDCAD</option>
				<option>USDCHF</option>
				<option>USDJPY</option>
				<option>NZDUSD</option>
				<option>AUDCAD</option>
				<option>AUDCHF</option>
				<option>AUDJPY</option>
				<option>AUDNZD</option>
				<option>CADCHF</option>
				<option>CADJPY</option>
				<option>CHFJPY</option>
				<option>EURAUD</option>
				<option>EURCAD</option>
				<option>EURCHF</option>
				<option>EURGBP</option>
				<option>EURJPY</option>
				<option>EURNZD</option>
				<option>GBPAUD</option>
				<option>GBPCAD</option>
				<option>GBPCHF</option>
				<option>GBPJPY</option>
				<option>GBPNZD</option>
				<option>NZDCAD</option>
				<option>NZDCHF</option>
				<option>NZDJPY</option>
				<option>EURCZK</option>
				<option>EURDKK</option>
				<option>EURHKD</option>
				<option>EURHUF</option>
				<option>EURMXN</option>
				<option>EURNOK</option>
				<option>EURPLN</option>
				<option>EURSEK</option>
				<option>EURSGD</option>
				<option>EURTRY</option>
				<option>EURZAR</option>
				<option>GBPCZK</option>
				<option>GBPDKK</option>
				<option>GBPHKD</option>
				<option>GBPHUF</option>
				<option>GBPNOK</option>
				<option>GBPPLN</option>
				<option>GBPSEK</option>
				<option>GBPTRY</option>
				<option>GBPZAR</option>
				<option>NZDSGD</option>
				<option>USDCNH</option>
				<option>USDCZK</option>
				<option>USDDKK</option>
				<option>USDHKD</option>
				<option>USDHUF</option>
				<option>USDMXN</option>
				<option>USDNOK</option>
				<option>USDPLN</option>
				<option>USDRUB</option>
				<option>USDSEK</option>
				<option>USDSGD</option>
				<option>USDTRY</option>
				<option>USDZAR</option>
				<option>AFRICA40</option>
				<option>AUS200</option>
				<option>FRANCE40</option>
				<option>HK50</option>
				<option>INDIA50</option>
				<option>ITALY40</option>
				<option>JP225</option>
				<option>SPAIN35</option>
				<option>STOXX50</option>
				<option>SWISS20</option>
				<option>UK100</option>
				<option>USTEC</option>
				<option>US30</option>
				<option>US500</option>
				<option>WTI</option>
				<option>XAUUSD</option>
				<option>XAGUSD</option>
			  </select>

			  <label class="radio-inline" style="margin-top: 32px;">
				<input type="radio" required="required" name="ordertype" id="inlineRadio1" value="BUY"> buy
			  </label>
			  <label class="radio-inline" style="margin-top: 32px;">
				<input type="radio" required="required" name="ordertype" id="inlineRadio2" value="SELL"> sell
			  </label>

			<div style="height:45px;line-height:45px;background: #fff;width:350px;padding-left:15px;margin-top: 32px;position: relative;">
				<span class="glyphicon glyphicon-gbp" style="font-size:18px;vertical-align:middle;top:-3px;color: #999;"></span>&nbsp;&nbsp;&nbsp;
				<input type="text" required="required" name="price" onkeyup="value=value.replace(/[^.1234567890-]+/g,'')" style="height:45px;border:0;width:297px;" placeholder="Order Direct Price">
				<span style='position:absolute;right: 0;bottom:-37px;font-size:13px;color: #f00;'></span>
			</div>
			<div style="height:45px;line-height:45px;background: #fff;width:350px;padding-left:15px;margin-top: 32px;position: relative;">
				<span class="glyphicon glyphicon-piggy-bank" style="font-size:18px;vertical-align:middle;top:-3px;color: #999;"></span>&nbsp;&nbsp;&nbsp;
				<input type="text" required="required" name="maxstoploss" onkeyup="value=value.replace(/[^.1234567890-]+/g,'')" style="height:45px;border:0;width:297px;" placeholder="Max StopLoss" >
				<span style='position:absolute;right: 0;bottom:-37px;font-size:13px;color: #f00;'></span>
			</div>
			<div style="height:45px;line-height:45px;background: #fff;width:350px;padding-left:15px;margin-top: 32px;position: relative;">
				<span class="glyphicon glyphicon-piggy-bank" style="font-size:18px;vertical-align:middle;top:-3px;color: #999;"></span>&nbsp;&nbsp;&nbsp;
				<input type="text" required="required" name="tolerancestoloss" onkeyup="value=value.replace(/[^.1234567890-]+/g,'')" style="height:45px;border:0;width:297px;" placeholder="Tolerance StopLoss" >
				<span style='position:absolute;right: 0;bottom:-37px;font-size:13px;color: #f00;'></span>
			</div>
			<div style="height:45px;line-height:45px;background: #fff;width:350px;padding-left:15px;margin-top: 32px;position: relative;">
				<span class="glyphicon glyphicon-dashboard" style="font-size:18px;vertical-align:middle;top:-3px;color: #999;"></span>&nbsp;&nbsp;&nbsp;
				<input type="text" required="required" name="tolerancestotime" style="height:45px;border:0;width:297px;" placeholder="Tolerance StopTime" >
				<span style='position:absolute;right: 0;bottom:-37px;font-size:13px;color: #f00;'></span>
			</div>
			<div style="height:45px;line-height:45px;background: #fff;width:350px;padding-left:15px;margin-top: 32px;position: relative;">
				<span class="glyphicon glyphicon-piggy-bank" style="font-size:18px;vertical-align:middle;top:-3px;color: #999;"></span>&nbsp;&nbsp;&nbsp;
				<input type="text" required="required" name="conservativeprofit" onkeyup="value=value.replace(/[^.1234567890-]+/g,'')" style="height:45px;border:0;width:297px;" placeholder="Conservative Profit" >
				<span style='position:absolute;right: 0;bottom:-37px;font-size:13px;color: #f00;'></span>
			</div>
			<div style="height:45px;line-height:45px;background: #fff;width:350px;padding-left:15px;margin-top: 32px;position: relative;">
				<span class="glyphicon glyphicon-piggy-bank" style="font-size:18px;vertical-align:middle;top:-3px;color: #999;"></span>&nbsp;&nbsp;&nbsp;
				<input type="text" onkeyup="value=value.replace(/[^.1234567890-]+/g,'')" name="profit" style="height:45px;border:0;width:297px;" placeholder="Order Profit" >
				<span style='position:absolute;right: 0;bottom:-37px;font-size:13px;color: #f00;'></span>
			</div>
			<div style="height:45px;line-height:45px;background: #fff;width:350px;padding-left:15px;margin-top: 32px;position: relative;">
				<span class="glyphicon glyphicon-dashboard" style="font-size:18px;vertical-align:middle;top:-3px;color: #999;"></span>&nbsp;&nbsp;&nbsp;
				<input type="text" name="duration" style="height:45px;border:0;width:297px;" placeholder="Order Total Duration /h" >
				<span style='position:absolute;right: 0;bottom:-37px;font-size:13px;color: #f00;'></span>
			</div>
			<div style="height:45px;line-height:45px;background: #fff;width:350px;padding-left:15px;margin-top: 32px;position: relative;">
				<span class="glyphicon glyphicon-info-sign" style="font-size:18px;vertical-align:middle;top:-3px;color: #999;"></span>&nbsp;&nbsp;&nbsp;
				<input type="text" required="required" name="thebigthing" style="height:45px;border:0;width:297px;" placeholder="The Event That Rely On" >
				<span style='position:absolute;right: 0;bottom:-37px;font-size:13px;color: #f00;'></span>
			</div>
			<div style="height:45px;line-height:45px;background: #fff;width:350px;padding-left:15px;margin-top: 32px;position: relative;">
				<span class="glyphicon glyphicon-question-sign" style="font-size:18px;vertical-align:middle;top:-3px;color: #999;"></span>&nbsp;&nbsp;&nbsp;
				<input type="text" required="required" name="isworking" style="height:45px;border:0;width:297px;" placeholder="Is It The Fluctuation Time Out?" >
				<span style='position:absolute;right: 0;bottom:-37px;font-size:13px;color: #f00;'></span>
			</div>
			<div style="height:45px;line-height:45px;background: #fff;width:350px;padding-left:15px;margin-top: 32px;position: relative;">
				<span class="glyphicon glyphicon-question-sign" style="font-size:18px;vertical-align:middle;top:-3px;color: #999;"></span>&nbsp;&nbsp;&nbsp;
				<input type="text" required="required" name="isinrange" style="height:45px;border:0;width:297px;" placeholder="Is It The Price Will Go On? Will It Draw Back?" >
				<span style='position:absolute;right: 0;bottom:-37px;font-size:13px;color: #f00;'></span>
			</div>
			<div style="height:45px;line-height:45px;background: #fff;width:350px;padding-left:15px;margin-top: 32px;position: relative;">
				<span class="glyphicon glyphicon-question-sign" style="font-size:18px;vertical-align:middle;top:-3px;color: #999;"></span>&nbsp;&nbsp;&nbsp;
				<input type="text" required="required" name="isthinkover" style="height:45px;border:0;width:297px;" placeholder="Are You Think It Over?" >
				<span style='position:absolute;right: 0;bottom:-37px;font-size:13px;color: #f00;'></span>
			</div>			
			<div style="height:90px;line-height:18px;background: #fff;width:350px;padding-left:0px;margin-top: 32px;position: relative;">
				<!-- <span class="glyphicon glyphicon-thumbs-up" style="color: #999;"></span>&nbsp;&nbsp;&nbsp; -->
				<textarea name="threeyesreason" required="required" style="height:90px;border:0;width:350px;" placeholder="List 3 Reasons Make You Said Yes" ></textarea>
				<!-- <span style='position:absolute;right: 0;bottom:-37px;font-size:13px;color: #f00;'></span> -->
			</div>
			<div style="height:90px;line-height:18px;background: #fff;width:350px;padding-left:0px;margin-top: 32px;position: relative;">
				<!-- <span class="glyphicon glyphicon-thumbs-down" style="color: #999;"></span>&nbsp;&nbsp;&nbsp; -->
				<textarea name="threenoreason" required="required"  style="height:90px;border:0;width:350px;" placeholder="Try 3 Reasons Will Deny Youself" ></textarea>
				<!-- <span style='position:absolute;right: 0;bottom:-37px;font-size:13px;color: #f00;'></span> -->
			</div>
			<input id="ratekline" name="rate_kline" hidden>
			<input id="ratedirection" name="rate_direction" hidden>
			<input id="raterisk" name="rate_risk" hidden>
			<input id="rateprofitable" name="rate_profitable" hidden>
			
			<div id="kline" >
				<h2>K Line Stable</h2>
				<span class="ratyli"></span>
			</div>
			<div id="direction">
				<h2>Emotion Direction Clearly</h2>
				<span class="ratyli"></span>
			</div>

			<div id="risk">
				<h2>Posibility Of Being Stop Out</h2>
				<span class="ratyli"></span>
			</div>

			<div id="profitability" >
				<h2>Profitability</h2>
				<span class="ratyli"></span>
			</div>
			
			  <input type="button" class="button" value="提交订单" style="padding: 10px 20px;border-radius: 5px;margin:30px auto 70px;">
			
        </form>
	</div>

	<script src="/s/js/jquery.ratyli.js"></script>
    <script src="/s/js/demo.js"></script>
    <script>
		$(function(){
			var order = {{order}};
			if(!order){
				return;
			}
			for(var k in order){
				$("[name='"+k+"']").val(order[k]);				
			}
			$("input[value='"+order.ordertype+"']").attr('checked','true');
			$("input[value='"+order.ordertype+"']").attr('disabled','true');
			$("[name='symbol']").attr('disabled','true');
		});

		function beforeSubmit(form){
			var check=1;
			form.ordertype.value ? 1: ($("input[name='ordertype']").focus(),check=0);
			if(!check) return false;
			form.price.value? 1:($("input[name='price']").focus(),check=0);
			if(!check) return false;
			form.maxstoploss.value? 1:($("input[name='maxstoploss']").focus(),check=0);
			if(!check) return false;
			form.profit.value? 1:($("input[name='profit']").focus(),check=0);
			if(!check) return false;
			form.thebigthing.value? 1:($("input[name='thebigthing']").focus(),check=0);
			if(!check) return false;
			form.isworking.value? 1:($("input[name='isworking']").focus(),check=0);
			if(!check) return false;
			form.isinrange.value? 1:($("input[name='isinrange']").focus(),check=0);
			if(!check) return false;
			form.threeyesreason.value? 1:($("textarea[name='threeyesreason']").focus(),check=0);
			if(!check) return false;
			form.symbol.value? 1:($("input[name='symbol']").focus(),check=0);
			if(!check) return false;
			form.duration.value? 1:($("input[name='duration']").focus(),check=0);
			if(!check) return false;
			
			return true;
		}
		$("input").blur(function() {
			var v=$(this).val();
			if (v=='') {
				$(this).prev().css("color","#f00");
			}else{
				$(this).prev().css("color","#0EA74A");
			} 
		});

		$('.button').click(function(){
			$('form').submit();
		});
		
	</script>
</body>
</html>