* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: '微软雅黑'
}
#container {
    width: 500px;
    height: 780px;
    margin: 5px auto 0;
    position: relative;
}
.header {
    background: #000;
    height: 40px;
    color: #fff;
    line-height: 34px;
    font-size: 20px;
    padding: 0 10px;
}     

#user_face_icon {
    display: inline-block;
    background: red;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    bottom: 6px;
    left: 14px;
    cursor: pointer;
    overflow: hidden;
}
img {
    width: 60px;
    height: 60px;
}
.content {
    font-size: 20px;
    width: 485px;
    height: 662px;
    overflow: auto;
    padding: 5px;
}
.content li {
    margin-top: 10px;
    padding-left: 10px;
    width: 462px;
    display: block;
    clear: both;
    overflow: hidden;
}
.content li img {
    float: left;
}
.content li span{
    background: #7cfc00;
    padding: 10px;
    border-radius: 10px;
    float: left;
    margin: 6px 10px 0 10px;
    max-width: 360px;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc;
}
.content li img.imgleft { 
    float: left; 
}
.content li img.imgright { 
    float: right; 
}
.content li span.spanleft { 
    float: left;
    background: #fff;
}
.content li span.spanright { 
    float: right;
    background: #7cfc00;
}
.content li span.span_pangbai { 
    float: right;
    background: #e29d07e1;
}        